html {
  font-size: 1.3em;
}

body {
  background-color: black;
}

.container {
  color: white;
}

ul .hide {
  visibility: collapse;
  height: 0;
  padding: 0;
}

.github {
  float: right;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}
#iAm {
  position: relative;
  text-align: center;
}

#iAmText {
  position: absolute;
  bottom: 1em;
  display: inline;
}

.prompt::before {
  content: ">" !important;
  color: white !important;
  font-family: "Lucida Console", Monaco, monospace !important;
  font-weight: bold !important;
}
